global
    log /dev/log    local0
    log /dev/log    local1 notice

    #modern config Supports Firefox 63, Android 10.0, Chrome 70, Edge 75, Java 11, OpenSSL 1.1.1, Opera 57, and Safari 12.1
    # see: https://ssl-config.mozilla.org/#server=haproxy&version=2.1&config=modern&openssl=1.1.1d&guideline=5.6
    # test site with https://www.ssllabs.com/ssltest
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options prefer-client-ciphers no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12 no-tls-tickets

    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12 no-tls-tickets

defaults
    log    global
    mode    http
    option    httplog
    option    dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

    {{ if (getenv "HAPROXY_STATS") }}
    stats    enable
    stats    realm Haproxy\ Statistics
    {{ if (getenv "HAPROXY_STATS_URI") }}
    stats    {{ getenv "HAPROXY_STATS_URI" }}
    {{ else }}
    stats    uri /stats
    {{ end }}
    {{ if (getenv "HAPROXY_STATS_AUTH") }}
    stats    auth {{ getenv "HAPROXY_STATS_AUTH" }}
    {{ end }}
    stats    refresh 5s
    {{ end }}

frontend http_frontend_name
    bind *:80
    {{ if (getenv "HAPROXY_SERVERNAME") }}
    bind *:443 ssl crt /etc/haproxy/certs/all.pem
    # use https / ssl only - forward if not
    #redirect scheme https if !{ ssl_fc }
    {{ end }}

    {{ range $service := ls "/services" }}
    {{ if ls (printf "/services/%s/upstream" $service) }}
    acl {{ $service }}_acl path_beg {{ if exists (printf "/services/%s/location" $service) }}{{ getv (printf "/services/%s/location" $service) }}{{ else }}/{{ $service }}{{ end }}
    {{ if exists (printf "/services/%s/location" $service) }}
    {{ if eq (getv (printf "/services/%s/location" $service)) "/" }}
    default_backend {{ $service }}_backend
    {{ else }}
    use_backend {{ $service }}_backend if {{ $service }}_acl
    {{ end }}
    {{ else }}
    use_backend {{ $service }}_backend if {{ $service }}_acl
    {{ end }}
    {{ end }}
    {{ end }}

{{ range $service := ls "/services" }}
{{ if ls (printf "/services/%s/upstream" $service) }}
backend {{ $service }}_backend
    {{ if ls (printf "/services/%s/backend" $service) }}
    {{ range $option := ls (printf "/services/%s/backend" $service) }}
    {{ $option }} {{ getv (printf "/services/%s/backend/%s" $service $option) }}
    {{ end }}
    {{ else }}
    balance roundrobin
    {{ end }}
    {{ range $server := ls (printf "/services/%s/upstream" $service) }}

    {{ if (getenv "HAPROXY_SERVERNAME") }}
    server {{ getenv ("HAPROXY_SERVERNAME")}}  {{ getv (printf "/services/%s/upstream/%s" $service $server) }} check
    {{ else }}
    server {{ $server }} {{ getv (printf "/services/%s/upstream/%s" $service $server) }} check
    {{ end }}
    {{ end }}
{{ end }}
{{ end }}
